body {
  font-family: Helvetica, sans-serif;
  font-size: 95%;
  line-height: 1.4;
  margin: 0;
}

header {
  background: #222;
  color: #DDD;
}
header h1, header h2, header h3, header h4 {
  font-weight: 100;
}

.inline {
  display: inline-block;
}

.column {
  margin: 0 auto;
  width: 40em;
}
