@burnt-orange: #BF5700;
@dark-burnt-orange: #A04400;
@drs-color: #222222;

html {
  overflow-y: scroll;
}
body {
  margin: 0;
  /* Background pattern from subtlepatterns.com */
  background: url(img/background.png);
  font-family: Palatino, Garamond, Bookman, serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
}

.banner {
  padding: 0.7em 0 0.6em;
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  h1 {
    font-size: 3.1em;
    font-weight: 100;
  }
  h2 {
    font-size: 1.3em;
    line-height: 2.7em;
  }
  .ut {
    color: @burnt-orange;
    font-variant: small-caps;
    padding-left: 30px;
    background: url(img/longhorn.gif) no-repeat left / 32px;
  }
}

nav {
  ul {
    margin: 0.25em;
    padding: 0;
    list-style: none;
  }
}

p, li {
  line-height: 1.4;
}

.drs-box {
  margin: 1em 0.5em;
  border: 1px solid @drs-color;
  & > :first-child {
    text-align: center;
    border-bottom: 1px solid @drs-color;
  }
  & > div {
    padding: 0.5em;
  }
}
.drs-store {
  & > span, & > b, & > i {
    padding: 0 4px;
  }
}

.drs-tuple {
  display: flex;
  justify-content: center;

  .drop {
    display: flex;
    align-items: center;
    height: 300px;
  }
}
.punctuation-huge {
  font-size: 400%;
  height: 1.9ex;
}
.punctuation-large {
  font-size: 200%;
}

.team1 {
  background-color: #e7d4dd;
}
.team2 {
  background-color: #d1e2f2;
}
.team3 {
  background-color: #dce7d3;
}
.team4 {
  background-color: #fef0ce;
}
.team5 {
  background-color: #e1bbb1;
}

.selection-committee {
  span {
    border-radius: 3px;
    padding: 1px 4px 0px;
  }
}

ul.submissions {
  margin: .25em 0;
}
.event header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  font-size: 110%;
  font-weight: bold;

  .spacer {
    flex-grow: 1;
    padding: 0 .5ex;
  }
  hr {
    border-top: 1px dotted #999;
  }
}

.flex-fill {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
